body
	
	.row
		.column.large-12
		include ../partials/header

	.row
		.column.small-12: hr
	.row
		.column.large-3.medium-6.small-12
			h3.muted.bio Roger Waters
			p: img.thumbnail.float-center(src="{{root}}assets/img/roger_bio.jpg")
			p.muted.bio Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		
		.column.large-3.medium-6.small-12
			h3.muted.bio David Gilmour
			p: img.thumbnail.float-center(src="{{root}}assets/img/david_bio.jpg")
			p.muted.bio Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		
		.column.large-3.medium-6.small-12
			h3.muted.bio Nick Mason
			p: img.thumbnail.float-center(src="{{root}}assets/img/nick_bio.jpg")
			p.muted.bio Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		
		.column.large-3.medium-6.small-12
			h3.muted.bio Richard Wright
			p: img.thumbnail.float-center(src="{{root}}assets/img/rick_bio.jpg")
			p.muted.bio Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	.row
		.column.small-12: hr

	.row
		.column.large-12
			h2.muted.center Discography

	.row.collapse
		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/The-Piper-At-The-Gates-Of-Dawn.jpg")
					div.album-info
						p 1967
						h4 THE PIPER AT THE GATES OF DAWN

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/A-Saucerful-Of-Secrets.jpg")
					div.album-info
						p 1968
						h4 A Saucerful of Secrets

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/More.jpg")
					div.album-info
						p 1969
						h4 More

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/ummagumma.jpg")
					div.album-info
						p 1969
						h4 Umma Gumma

	.row.collapse
		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/Atom-Heart-Mother.jpg")
					div.album-info
						p 1970
						h4 Atom Heart Mother

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/Meddle.jpg")
					div.album-info
						p 1971
						h4 Meddle

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/Obscured-By-Clouds.jpg")
					div.album-info
						p 1972
						h4 Obscured By Clouds
		
		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/The-Dark-Side-Of-The-Moon.jpg")
					div.album-info
						p 1973
						h4 THE Dark Side Of The Moon

		

	.row.collapse
		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/Wish-You-Were-Here.jpg")
					div.album-info
						p 1975
						h4 Wish You Were Here

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/Animals.jpg")
					div.album-info
						p 1977
						h4 Animals

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/The-Wall.jpg")
					div.album-info
						p 1979
						h4 THE Wall

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/The-Final-Cut.jpg")
					div.album-info
						p 1983
						h4 THE Final Cut

	
	.row.collapse
		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/A-Momentary-Lapse-Of-Reason-1.jpg")
					div.album-info
						p 1987
						h4 A Momentary Lapse Of Reason

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/The-Division-Bell.jpg")
					div.album-info
						p 1994
						h4 The Division Bell

		.column.small-12.medium-6.large-3
			div.album-overlay
				a(href="")
					img(src="{{root}}assets/img/The-Endless-River.jpg")
					div.album-info
						p 2014
						h4 THE Endless River

		

		.column.small-12.medium-6.large-3

		.column.small-12.medium-6.large-3
	
	

footer 