div(class="title-bar", data-responsive-toggle="example-menu")
	button(class="menu-icon", type="button", data-toggle)
		div.title-bar-menu
			
div(class="top-bar", id="example-menu")
		
	div.top-bar-left
		ul(class="dropdown menu" data-dopdown-menu)
			li.menu-text Pink Floyd
		
	div.top-bar-right
		ul.vertical.medium-horizontal.menu
			li: a.muted(href="")  History
			li: a.muted(href="")  Band
			li: a.muted(href="")  Discography

header.marketing-hero.homelarge-hero